<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="col-sm">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Edit User </h4>
        <p class="card-text">
          
          <div class="form-group">
             <label for="formGroupExampleInput">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=> "form-control" %>
          </div>
           <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

         

          <div class="form-group">
             <label for="formGroupExampleInput">Password <i>(leave blank if you don't want to change it)</i></label>
              <%= f.password_field :password, autocomplete: "off", :class=> "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Password confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class=> "form-control" %>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Current password <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", :class=> "form-control" %>
            </label>            
          </div>
        </p>
        <div class="actions">
         <%= f.submit "Update", class: 'btn btn-outline-primary card-btn-submit' %>
    
        </div>
<% end %>
        
<%= link_to "Back", :back %>
      </div>
    </div>

</div>
  <div class="col-sm">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Cancel my account</h4>
        <p>Unhappy? You can delete your account. <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-outline-primary card-btn-submit', method: :delete %></p>
      </div>    
    </div>
  </div>
</div>
