<% content_for :title, "Articles" %>
<div class="container-fluid">
  <h1 class="appname">Articles</h1>
  <%= link_to 'New Article', new_article_path, class: 'link-top' %>
  <div class="row">
    <% article_count = 0 %>
    <% articles_sorted = @articles.reverse %>
    <% articles_sorted.each do |article| %>
      <% if article_count % 3 == 0 %>
         <div class="w-100"></div>
      <% end %>
      <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to article.title, article, class: 'article-title' %></h4>
          <p class="card-text">
            <% if article.text.length > 300 %>
              <%= article.text[0 .. 300]+"..." %>
              <br>
              <%= link_to "Read more..", article %>
            <% else %>
              <%= article.text %>
            <% end %>

            <br>
          </p>
          <p class="card-text">
            <% if current_user.id == article.user_id %>
             <%= link_to 'Edit', edit_article_path(article), class: 'card-link' %>
             <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
            <% end %>
            <br>
            <small class="text-muted">
              Posted by user #<%= article.user_id %>:
              <%= User.find(article.user_id).email %>
              <br>
              Last updated <%= article.updated_at %>
            </small>
          </p>
        </div>
      </div>
    </div>
    <% article_count +=1 %>
    <% end %>
  </div>

</div>