<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
  <a class="navbar-brand" href="/">CRUD App</a>
  
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="col-sm-4 mr-auto">
    <ul class="navbar-nav mr-auto">

        <% if request.fullpath.include?('people') or request.fullpath == '/' %>
          <li class="nav-item active">
          <a class="nav-link" href="/people">People</a>
          </li>
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="/people">People</a>
          </li>
        <% end %>


        <% if request.fullpath.include?('articles') %>
         <li class="nav-item active">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
        <% else %>
          <li class="nav-item">
           <a class="nav-link" href="/articles">Articles</a>
          </li>
        <% end %>
      
    </ul>
  </div>
  
  <ul class="navbar-nav ml-auto">
    
      <% if user_signed_in? %>
      <li class="nav-item">
      <ins class="nav-link"> Logged in as <strong><%= current_user.email %></strong>.</ins>
      </li>
      <li class="nav-item">
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      </li>
    <% else %>
      <li class="nav-item">
      <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %> 
      </li>
      <li class="nav-item">
      <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
    <% end %>
      </li>
  </ul>
  
  

  </div>
  
</div>
</nav>

  	<div class="container">
  		<div class="row mb-auto">
  			<div class="col">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
  				
          <%= yield %>
  			</div>
  		</div>
      <footer>
        <div class="d-flex align-items-end justify-content-center">
          Nicolai Stoianov, <%= Time.now.year %>
        </div>
        </footer>
  	</div>
     
  </body>
</html>
